<!DOCTYPE html>
<html>
<head>
  <title>First Rails Site</title>
</head>
<body>
  <h1>This is the About page.</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat arcu quis lectus semper tempus. Nam nec vehicula dui. Aliquam in blandit turpis. Nullam in sapien at est dictum pellentesque. Pellentesque imperdiet hendrerit metus in viverra. Pellentesque quis justo luctus, commodo est eu, congue nulla. Aliquam et efficitur augue, vitae scelerisque sem. Cras dapibus libero non accumsan varius. Vestibulum vitae accumsan dolor, quis tincidunt nisl. Pellentesque egestas, nulla vitae egestas venenatis, diam tortor vestibulum nulla, fermentum maximus magna quam ut metus. Nam vestibulum magna sed pharetra blandit.
  <%= link_to 'HomePage', pages_home_path %>
</p>
</body>
<footer>This was created by Kendric Jones.</footer>
</html>
